<div class="shipment-container" *ngIf="jobData">
    <div>
        <p>
            OrderId: {{ jobData.job_order_id }}
        </p>
    </div>
    <div>
        <p>
            Ship to
        </p>
        <p>
            {{ jobData.first_name }} {{ jobData.last_name }}
        </p>
        <p *ngIf="jobData.shipping_address1">
            {{jobData.shipping_address1}}
        </p>
        <p *ngIf="jobData.shipping_address2">
            {{jobData.shipping_address2}}
        </p>
        <p *ngIf="jobData.shipping_address3">
            {{jobData.shipping_address3}}
        </p>
    </div>
</div>
<app-cart-job-table [tableData]="jobTableData" (triggerClick)='shopping($event)'></app-cart-job-table>