<!--add  global header base in -->
<header class="global-site-header-container">
    <div class="container">
        <div class="comp-header">
            <a routerLink="homepage"><img src="https://static.uprinting.com/bootstrap/img/uprinting-logo.svg"
                    alt="Uprinting logo">
            </a>
            <div class="header-right">
                <p *ngIf="headerData != 'login' && accountData">Hi! {{accountData.data.first_name}}</p>
                <a *ngIf="headerData != 'login'" (click)="logout()" [innerHTML]="headerData"></a>
                <a *ngIf="headerData == 'login'" routerLink="login-signup" [innerHTML]="headerData"></a>
                <button type="button" routerLink="cart" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
                </button>
            </div>
        </div>
    </div>
</header>