<form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">
    <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" placeholder="Email" formControlName="email">
        <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
            <div *ngIf="formControls.email.errors.required" placeholder="Password">Email is required</div>
            <div *ngIf="formControls.email.errors.email" placeholder="Password">Invalid Email</div>
        </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" placeholder="Password" formControlName="password">
        <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
            <div *ngIf="formControls.password.errors.required">Password is required</div>
        </div>
        <div *ngIf="notValidAccount" class="help-block">
            <div *ngIf="notValidAccount">Account does not exist</div>
        </div>
    </div>
    <button type="submit"  class="btn btn-primary">Submit</button>
</form>