//amber css
@import (less) "../src/assets/css/deeppurple-amber.css";

//product design Homepage
.product-list-container {
    &:focus {
        cursor: pointer;
        outline: none;
    }
    cursor: pointer;
    border: solid 1px #dedede;
    margin-bottom: 14px;
}
.produc-list-sub-contianer {
    display: flex;
    align-items: center;
    min-height: 130px;
    .product-details {
        display: flex;
    }
    .product-label {
        margin: 0 20px;
        p {
            font-weight: bold;
            text-align: right;
        }
    }
    .delete-btn {
        margin-right: 20px;
    }
}

.quantity-min-height {
    min-height: 34px;
}

.has-error .form-control {
    border-color: #a94442 !important;
  
}

.job-cart-table td:nth-child(3),.job-cart-table th:nth-child(3) {
    text-align: right;
    padding-right: 34px;
}

.p-relative {
    position: relative;
   
}
.img-container {
    img {
        //need image to be same size.This is for refactoring
        height: 100px;
        width: 160px;
    }
}
.sold_out {
    top: 18px;
    left: -6px;
    color: #fff;
    display: block;
    position: absolute;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.06em;
    background-color: #A00;
    padding: 1px 32px;
    text-shadow: 0 0 0.75em #444;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    font: bold 16px/1.2em Arial, Sans-Serif;
    -webkit-text-shadow: 0 0 0.75em #444;
    -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(-45deg) scale(0.75, 1);
    z-index: 10;
}
.sold_out:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: -0.3em -5em;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    border: 2px rgba(255,255,255,0.7) dashed;
}